<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <nav class="nav navbar-nav navbar-left">
            {{#link-to 'home'}}
                <img class="logo" src="images/logo.png" />
            {{/link-to}}
            </nav>
        </div>
        <div class="col-sm-8">
            <nav class="nav navbar-nav navbar-right">
                {{notification-button showNotifications=showNotifications}}
                {{#if isLoggedIn}}
                    {{#if isInProjectRoute}}
                        <a {{action "toggleCreate"}}>Create</a>
                        {{else}}
                        {{#link-to 'project.read' (query-params create="true")}}Create{{/link-to}}
                    {{/if}}
                    {{#link-to 'project.contribute'}}Contribute{{/link-to}}
                    {{#link-to 'project.read'}}Read{{/link-to}}
                    
                    {{user-dropdown}}
                {{else}}
                    {{#link-to 'home'}}Home{{/link-to}}
                    {{#link-to 'about'}}About{{/link-to}}
                    {{#link-to 'how-it-works'}}How It Works{{/link-to}}
                    {{#link-to 'user.login'}}Login{{/link-to}}
                    {{#link-to 'user.signup' class="button-flat"}}Sign Up{{/link-to}}
                {{/if}}
            </nav>
        </div>
    </div>
</div>
