<div class="user-index-index">
	<div class="row statistics">
		<div class="col-xs-4">
			<div class="statistic">
				{{projectsCount}}
				<div class="label">Project created</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="statistic">
				{{openProjectsCount}}
				<div class="label">Open project</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="statistic">
				{{completedProjectsCount}}
				<div class="label">Project completed</div>
			</div>
		</div>
	</div>
	<div class="search-bar">
		<div class="row">
			<div class="col-xs-7 col-sm-6">
				<div class="search">
					{{input value=searchValue placeholder="Search"}}
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"   viewBox="0 0 18 18">
    <defs/>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
        <g transform="translate(-537.000000, -400.000000)" fill="#E4E2E2">
            <g transform="translate(527.000000, 391.000000)">
                <path d="M10,16.1278511 C10,14.2670975 10.7099929,12.6761771 12.13,11.355042 C13.5500071,10.033907 15.25999,9.37334934 17.26,9.37334934 C19.26001,9.37334934 20.9699929,10.033907 22.39,11.355042 C23.8100071,12.6761771 24.52,14.2670975 24.52,16.1278511 C24.52,17.4489862 24.1300039,18.6631097 23.35,19.7702581 L27.85,23.9569328 C27.9200004,24.0313629 27.955,24.1150956 27.955,24.2081333 C27.955,24.3011709 27.9200004,24.3849036 27.85,24.4593337 L26.215,25.9804922 C26.1349996,26.0456186 26.0450005,26.0781813 25.945,26.0781813 C25.8449995,26.0781813 25.7550004,26.0456186 25.675,25.9804922 L21.175,21.7938175 C19.9849941,22.5195114 18.6800071,22.8823529 17.26,22.8823529 C15.25999,22.8823529 13.5500071,22.2217953 12.13,20.9006603 C10.7099929,19.5795252 10,17.9886047 10,16.1278511 L10,16.1278511 Z M12.295,16.1278511 C12.295,17.3931636 12.7799951,18.4770363 13.75,19.3795018 C14.7200048,20.2819673 15.8899932,20.7331933 17.26,20.7331933 C18.6300068,20.7331933 19.7974952,20.2842932 20.7625,19.3864796 C21.7275048,18.488666 22.21,17.4024674 22.21,16.1278511 C22.21,14.8532349 21.7275048,13.7670363 20.7625,12.8692227 C19.7974952,11.9714091 18.6300068,11.522509 17.26,11.522509 C15.8899932,11.522509 14.7200048,11.973735 13.75,12.8762005 C12.7799951,13.778666 12.295,14.8625387 12.295,16.1278511 L12.295,16.1278511 Z" />
            </g>
        </g>
    </g>
</svg>
				</div>
			</div>
			<div class="col-xs-5 col-sm-6">
				<div class="sort">
					<span class="sort-by">Sort by: </span>{{select-2 searchEnabled=false optionValuePath="id" value=sortBy content=sortOptions}}
				</div>
			</div>
		</div>
	</div>
	{{#each sortedAndFilteredProjects key="id" as |project|}}
			{{log projectSorting}}
			{{profile-project model=project}}
	{{/each}}
</div>
