<div class="photo-circle">
	<div class="padding">
    	<img class="regular" src="{{image1}}" alt="{{name}}" title="{{name}}">
    	<img class="funny" src="{{image2}}" alt="{{name}}" title="{{name}}">
    </div>
</div>
<div class="name">{{name}}</div>
<div class="title">{{title}}</div>
<div class="description">{{description}}</div>
