<div class="photo-circle">
    <img src="{{image}}" alt="{{name}}" title="{{name}}">
</div>
<div class="name">{{name}}</div>
<div class="title">{{title}}</div>
<div class="description">{{description}}</div>
