{{#if alert}}
	<div class="alert alert-{{alert.type}}">{{alert.message}}</div>
{{/if}}
<form class="form" {{action 'sendSignUpForm' on="submit"}}>
	
	<div class="form-group">
		<label class="control-label">Email address:</label>
		{{input class="form-control" type="email" value=email}}
	</div>

	<div class="form-group">
		<label class="control-label">Password:</label>
		{{input class="form-control" type="password" value=password}}
	</div>
	<div class="from-group {{if passwordsDontMatch 'has-error'}}">
		<label class="control-label">Password again:</label>
		{{input class="form-control" type="password" value=password2}}
	</div>

	<div class="form-group">
		<label class="control-label">Username:</label>
		{{input class="form-control" value=name}}
	</div>
	<br>
	<input type="submit" class="btn btn-primary" value="Sign up">
</form>
{{outlet}}
