<div class="profile-project">
	<div class="inner">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
						{{#if model.image}}
				            <img src="{{imageUrl}}" />
				        {{else}}
				            <img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=Image&w=70&h=70" />
				        {{/if}}
						<div class="content">
							<h3>{{model.name}}</h3>
							<div class="tags">
								{{#each model.tags key="id" as |tag|}}
								#{{tag.name}} 
								{{/each}}
							</div>
							<div class="details">
								<div class="column">
									<div class="clabel">Last Updated</div>
									<div class="value">{{moment-from-now model.updatedAt}}</div>
								</div>
								<div class="column">
									<div class="clabel">Accepted Entries</div>
									<div class="value">{{model.entries.length}}</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">{{#link-to "project.index.entries" model.id}}
						<div class="small {{if model.open "orange" "purple"}} bordered rounded button">
							{{if model.open "Collaborate" "Read" }}
						</div>
					{{/link-to}}</div>
			</div>
		</div>
	</div>
</div>
