{{project-header heading=model.name projectController=project}}
<h2>{{model.name}}</h2>
<p>{{model.description}}</p>

{{#each model.entries key="id" as |entry|}}
	{{successful-entry model=entry}}
{{/each}}

<hr>
<div {{action "createPile"}} class="btn btn-primary">Create pile</div>
<hr>
{{outlet}}
