{{project-header heading=model.name image=model.image projectController=project}}
<div class="big centered bordered {{if model.open 'open' 'closed'}} project box">
{{#if isEditing}}
<div class="head">
	<form class="{{if model.isSaving 'au-loading'}}" {{action "updateProject" on="submit"}}>
		{{input value=model.name placeholder="Project title"}}
		{{textarea value=model.description placeholder="Project description"}}
		<input type="submit" class="orange bordered rounded button" value="Update">
		<div {{action "cancelEditing"}} class="orange bordered rounded button">Cancel</div>
	</form>
</div>
{{else}}
	<div class="head">
		<h2>{{model.name}}</h2>
		<p>{{model.description}}</p>
		<div class="meta">
			{{!-- {{#if model.user.email}} --}}
			<span> Started {{!-- moment-format model.createdAt 'MM/DD/YYYY' --}} {{moment-from-now model.createdAt}} by </span> {{#link-to "user.index" model.user.id}}{{user-photo user=model.user}}{{/link-to}}
			{{!-- {{/if}} --}}

			| <div class="tags">{{#each model.tags key="id" as |tag|}}
					{{#link-to "tag" tag.name class="small rounded purple bordered button tag"}}#{{tag.name}}{{/link-to}}
				{{/each}}
			</div>
		</div>
		{{#if isCreator}}
		<div class="options">
			<a {{action "toggleOptions"}}>Options</a>
		</div>
		{{#if showOptions}}
			{{#modal-prototype close="toggleOptions"}}
			<div {{action 'toggleOptions'}} class="close-modal">
				<svg viewBox="0 0 100 100" width="22" height="22" xmlns="http://www.w3.org/2000/svg">
				 <g>
				  <line id="svg_1" y2="90" x2="90" y1="10" x1="10" stroke-width="20" fill="none"/>
				  <line id="svg_2" y2="90" x2="10" y1="10" x1="90" stroke-width="20" fill="none"/>
				 </g>
				</svg>
			</div>
			<div class="spinner-wrap {{if optionsLoading 'au-loading'}}">
				<h3>Project options</h3>
				<div {{action "toggleOpenClose"}} class="small orange bordered rounded button">{{if model.open 'Close project' 'Re-Open project'}}</div>
				{{#if isEditable}}
				<div {{action "toggleEdit"}} class="small orange bordered rounded button">
					Edit project
				</div>
				{{/if}}
			</div>

			{{/modal-prototype}}
		{{/if}}
		{{/if}}
	</div>
	{{/if}}
	<div class="body">
		{{#each model.entries key="id" as |entry|}}
			{{successful-entry model=entry}}
		{{/each}}

		{{!-- {{#if newEntry.newEntry.showPreview}}
			<hr>
			{{successful-entry model=newEntry.newEntry}}
		{{/if}} --}}
	</div>
</div>


<!--<div {{action "createPile"}} class="btn btn-primary">Create pile</div>-->
{{outlet}}
