{{project-header heading=model.name projectController=project}}
<div class="big centered bordered project box">
	<div class="head">
		<h2>{{model.name}}</h2>
		<div class="meta">
			|{{model.createdAt}}| {{gravatar-image class="circular profile" email=model.author.email size=40}}
		</div>
		<p>{{model.description}}</p>
	</div>
	<div class="body">
		{{#each model.entries key="id" as |entry|}}
			{{successful-entry model=entry}}
		{{/each}}
		
		{{!-- {{#if newEntry.newEntry.showPreview}}
			<hr>
			{{successful-entry model=newEntry.newEntry}}
		{{/if}} --}}
	</div>
</div>


{{!-- <hr>
<div {{action "createPile"}} class="btn btn-primary">Create pile</div>
<hr> --}}
{{outlet}}
