{{project-header heading=model.name projectController=project}}
<div class="big centered bordered project box">
	<div class="head">
		<h2>{{model.name}}</h2>
		{{gravatar-image class="circular profile" email=model.author.email size=40}}
		<p>{{model.description}}</p>
	</div>
	<div class="body">
		{{#each model.entries key="id" as |entry|}}
			{{successful-entry model=entry}}
		{{/each}}
	</div>
</div>


<hr>
<div {{action "createPile"}} class="btn btn-primary">Create pile</div>
<hr>
{{outlet}}
