<section class="marketing">
    <div class="small">Lorem Ipsom</div>
    <h1>Lorem ipsum dolor sit amet, consectetor adipisicing elit</h1>
    <div class="small">Lorem ipsum dolor sit amet</div>
</section>
<section class="projects row">
    {{#each model key="id" as |project|}}
        <div class="col-sm-4 col-md-3">
        {{project-item model=project}}
        </div>
    {{/each}}
</section>
<section class="testimonial">
    <div class="title">Testimonial By User</div>
    <div class="description">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."</div>
</section>
<section class="social">
    <a href="https://www.facebook.com/autora.ink">{{fa-icon "facebook"}}</a>
    <a href="https://twitter.com/AutoraInk">{{fa-icon "twitter"}}</a>
    <a href="">{{fa-icon "instagram"}}</a>
</section>
{{outlet}}
