<section class="marketing">
    {{!-- <div class="small"></div> --}}
    <h1>Writing Just Got Collective</h1>
    <h2>Welcome to Autora! Let's play with words together.</h2>
</section>
<section class="projects row">
    {{#each model key="id" as |project|}}
        <div class="col-sm-6 col-md-3 project-col">
        {{project-item model=project}}
        </div>
        {{else}}
        {{!-- Display spinner if the projects arent loaded yet --}}
        {{!-- <div style="height:70px" class="ui container au-loading"></div> --}}
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        <div class="col-sm-6 col-md-3 project-col">
            {{project-item model=blankProject classNames="shadowed"}}
        </div>
        
    {{/each}}
</section>
<section class="testimonial">
    <div class="description">"Writers aren’t people exactly. Or, if they’re any good, they’re a whole lot of people trying so hard to be one person."</div>
    <div class="title">F. Scott Fitzgerald</div>
</section>
{{social-row}}
{{outlet}}
