<label for="{{uploaderId}}" class="{{if loading 'au-loading'}}">
    {{#if filePreviewUrl}}
        <img src="{{filePreviewUrl}}" />
    {{else}}
        Upload Photo
    {{/if}}
</label>
{{file-uploader url=url elementId=uploaderId uploadStart='uploadStart' uploadDone='uploadDone' uploadError='uploadError'}}
