<div class="how-it-works">
	<header>
		<h1>How it works</h1>
		<h2>How an idea becomes literature</h2>
	</header>
	<section class="idea">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="" alt="" class="number">
					<div class="number">1</div>
					<h2>Your brilliant idea starts a project</h2>
				</div>
				<div class="col-sm-6">
					{{partial "svg/lightbulb"}}
				</div>
			</div>

		</div>
	</section>
	<section class="new-entry">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="" alt="" class="number">
					<div class="number">2</div>
					<h2>A new entry opens</h2>
				</div>
				<div class="col-sm-6">
					{{partial "svg/book-empty"}}
				</div>
			</div>

		</div>
	</section>
	<section class="anyone">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="" alt="" class="number">
					<div class="number">3</div>
					<h2>Anyone can submit and vote on entries</h2>
				</div>
				<div class="col-sm-6">
					{{partial "svg/book-hearts"}}
				</div>
			</div>

		</div>
	</section>
	<section class="locked">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="" alt="" class="number">
					<h2>An entry is locked in and the story grows</h2>
				</div>
				<div class="col-sm-6">
					{{partial "svg/book-story"}}
				</div>
			</div>

		</div>
	</section>
	<section class="complete">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="" alt="" class="number">
					<h2>Until you decide it is complete</h2>
				</div>
				<div class="col-sm-6">
					{{partial "svg/book-finished"}}
				</div>
			</div>

		</div>
	</section>
</div>
{{outlet}}
