<header>
    <h1>About Autora</h1>
    <h2>How a Silly Poem Game Becomes A Collective Creative Writing Platform</h2>
</header>
<section class="container story">
    <p>
    Co-founders Omari and Stacy, from North Carolina, have long loved to play with words. They enjoy dabbling in writing poetry and would share poems or little poetic stanzas with each other. Eventually they started playing a simple poetry game: they’d write poems one line at a time, alternating authorship at each line. The words they created both amused and inspired the two. Each line could take the poem in an unexpected direction and force them to step outside their usual creative bubble. Omari also began getting involved in improv theater. One of his favorite games is “Dr. Know-It-All”, where groups of actors answer questions from the audience one word at a time.
    </p>
    <p>
    These experiences led Omari to wonder if there were any limits to this kind of sequential collective creation. Could a group of people write a poem or even a novel one sentence or one word at a time? With that, the idea of Autora was born. While the literary possibilities are endless, Omari is especially excited about trying to use Autora to write a novel one word at a time. “On the surface it seems ridiculous to write anything one word at a time, but each word has the potential to turn the story in a new direction and could keep the contributors guessing where the story will go next right alongside the readers,” he explains. It’s all an experiment, but Autora has managed to attract a small dedicated team that is developing a beautiful user-friendly writing experience.
    </p>
    <p>
    Omari brought the idea to a collaborative app building website, Assembly. The idea soon attracted a talented designer, Gisela, from Argentina, to create its logo. After a bit of searching by Stacy and Omari, two developers, Martin and Tal, signed on to the project. They were both drawn to Autora because of the potential power of collective creative writing on the internet. Martin, from the Czech Republic, states that collective intelligence “can lead to specific kind of content that would not otherwise be achievable.” The idea behind Autora drew in the team members, but the cohesive yet diverse group of people working on Autora made them stay with the project. Tal, the web developer from Israel, is especially excited about developing a product with people from all over the world. Gisela decided to take on the role as head designer because of the dedicated team she saw moving forward, “I think Autora has everything to become a great app: a challenging and promising idea and a professional team willing to make it work.”
    </p>
</section>
<section class="meet-the-team">
    <div class="container">
        <h2>Meet the Team</h2>
        <h3>Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</h3>
        <ul class="row team">
            <li class="col-md-2 col-md-offset-1">
                {{about-team-item
                    image1="images/about/martin1.jpg"
                    image2="images/about/martin2.jpg"
                    name="Omari Dennis"
                    title="Project Manager"
                    description="Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                }}
            </li>
            <li class="col-md-2">
                {{about-team-item
                    image1="images/about/stacy1.jpg"
                    image2="images/about/stacy2.jpg"
                    name="Stacy Scholles"
                    title="Project Manager"
                    description="Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                }}
            </li>
            <li class="col-md-2">
                {{about-team-item
                    image1="images/about/martin1.jpg"
                    image2="images/about/martin2.jpg"
                    name="Martin Malinda"
                    title="Developer"
                    description="Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                }}
            </li>
            <li class="col-md-2">
                {{about-team-item
                    image1="images/about/martin1.jpg"
                    image2="images/about/martin2.jpg"
                    name="Tal Magen"
                    title="Developer"
                    description="Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                }}
            </li>
            <li class="col-md-2">
                {{about-team-item
                    image1="images/about/martin1.jpg"
                    image2="images/about/martin2.jpg"
                    name="Gisela Lubik"
                    title="Designer"
                    description="Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                }}
            </li>
        </ul>
    </div>
</section>
{{social-row}}
