{{#each session.sortedSubscriptions as |subscription|}}
	<div class="notification">
		{{#if subscription.showNotification}}
			{{#if subscription.entry}}
				{{subscription.lastChildModel.user.username}} and {{subscription.subModelChildren.length}} liked your {{link-to 'entry' 'project.index.entries' subscription.project.id}}
			{{/if}}

			{{#if subscription.pile}}
				{{subscription.lastChildModel.user.username}} and {{subscription.subModelChildren.length}} others put submission in {{link-to subscription.project.name 'project.index.entries' subscription.project.id}}
			{{/if}}
		<br>
		{{moment-from-now subscription.lastChildModelCreatedAt}}
		{{/if}}
	</div>
{{/each}}
