<div class="white-bg project-index-entries">
	<div class="container">
		{{#if pile.id}}
			{{#link-to 'project.index.entries.new-entry'}}
				<div class="big orange bordered rounded {{if canPostEntry '' 'disabled'}} button">+ Add entry</div>
			{{/link-to}}
			{{#if isCreatorOfProject}}
				 <div {{action "pickEntry"}} class="big orange bordered rounded button">Lock pile</div> 
			{{/if}}
			<h2>Submitted entries</h2>
			{{#if displayLockedPileNotification}}
			  <div class="input-alert danger">Pile has been locked! Entries can't be added anymore. <div class="small orange rounded filled button" {{action "refreshPile"}}>Open the new pile</div></div>
			  <p></p>
			  {{else}}
				  {{#if displayClosedProjectNotification}}
				  <div class="input-alert danger">Project has been closed! Entries can't be added anymore. <div class="small orange rounded filled button" {{action "redirectToParent"}}>Redirect to reading mode</div></div>
				  <p></p>
				{{/if}}
			{{/if}}

			{{#if lockAlert.message}}
				<div class="{{lockAlert.type}} input-alert">
					{{lockAlert.message}}
				</div>
			{{/if}}
			<!-- (Listing entries in pile {{pile.id}}) -->
			<div class="row clearfix">
				{{#each sortedEntries key="id" as |entry index|}}
					{{grid-clearfix index pile.project.inputType}}
					<div class="{{gridClass}}">
						{{competing-entry model=entry}}
					</div>
				{{else}}
					<div class="no-entries">There are no entries yet. Be first!</div>
				{{/each}}
			</div>
		{{else}}
		<h2>There's no pile created. Please create one.</h2>
		{{/if}}
	</div>
	{{outlet}}
</div>