<div class="top">
    {{#link-to 'project.index.entries' attrs.model.id}}
    <div class="line">
        <div class="action">{{if model.open 'Collaborate' 'Read'}}</div>
    </div>
    <div class="image">
        {{#if model.image}}
            <img src="{{imageUrl}}" />
        {{else}}
            <img src="images/project.png" />
        {{/if}}
    </div>
    {{/link-to}}
</div>
<div class="body">
    {{#link-to 'project.index.entries' attrs.model.id}}
    <div class="title">{{attrs.model.name}}</div>
    {{/link-to}}
    <div class="description">{{clip-text model.description 60}}</div>
</div>
<div class="bottom">
    <div class="rules">
        Rules: {{model.inputLength}} {{model.inputType}}s
    </div>
    <ul class="tags">
        {{#each model.tags key="id" as |tag|}}
            <li class="tag">#{{tag.name}}</li>
        {{/each}}
    </ul>
</div>
<!--
<h3>{{attrs.model.name}}</h3>
<p>{{attrs.model.description}}</p>
{{#link-to 'project.index.entries' attrs.model.id}} Open project {{/link-to}}
-->
