<div class="container">
	<div class="big box">
		<h2>Forgot your password?</h2>
		<h3>Let us send you a new one</h3>
		{{#if alert.message}}
			<div class="input-alert {{alert.type}}">
				{{alert.message}}
			</div>
		{{/if}}
		<form class="{{if isLoading 'au-loading'}}" {{action "resetPassword" on="submit"}}>
			{{input type="email" value=email placeholder="Your email address"}}
			<button type="submit" class="big orange bordered rounded button">Send</button>
		</form>
	</div>
</div>
{{outlet}}
