<div class="container">
	{{log 'tag:'}}
	{{log model}}
	<h2>Feed for tag: {{model.name}}</h2>
	<div class="row projects">
    {{#each model.projects key="id" as |project|}}
    	<div class="col-sm-4 col-md-3 project-col">
        {{project-item model=project}}
        </div>
    {{/each}}
    </div>
</div>
{{outlet}}
