
<div class="bordered padded box competing-entry">
	<div class="head">
	</div>
	<div class="info">
			<svg {{action 'toggleLike'}} class="heart {{if isLikedByUser "filled" "empty"}}" width="18px" height="16px" viewBox="0 0 18 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
			    <g class="fill" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			        <g class="border" transform="translate(-253.000000, -302.000000)" stroke="#FFFFFF">
			            <g transform="translate(254.000000, 303.000000)">
			                <path d="M11.5333333,0 C10.125,0 8.83333333,0.639306358 8,1.69132948 C7.16666667,0.639306358 5.875,0 4.46666667,0 C2.00416667,0 0,1.95433526 0,4.35780347 C0,5.4867052 0.441666667,6.55895954 1.24583333,7.37630058 L7.54583333,13.5549133 L8,14 L8.45416667,13.5549133 L14.6333333,7.49364162 C15.5083333,6.67225434 16,5.55549133 16,4.35780347 C16,1.95433526 13.9958333,0 11.5333333,0 L11.5333333,0 L11.5333333,0 Z"></path>
			            </g>
			        </g>
			    </g>
			</svg>
			<span class="counter">{{model.amountOfLikes}}</span>
		{{#link-to 'user.index' attrs.model.user.id}}{{user-photo user=model.user class="circular profile" size=25}}{{/link-to}}
	</div>
	<div class="body">
	{{#if isEditing}}
		<form class="{{if model.isSaving 'au-loading'}}" {{action "updateEntry" on="submit"}}>
			{{textarea-with-counter value=model.content maxlength=maxlength placeholder="Entry content"}}
			<input type="submit" value="Update entry" class="small orange bordered rounded button">
			<div {{action "cancelEditing"}} class="small orange bordered rounded button">Cancel</div>
		</form>
	{{else}}
		{{nl-br attrs.model.content}}
		{{if endsWithLineBreak '↵'}}

	{{/if}}
	{{#if isEditable}}
		{{!-- <div class="text-right"> --}}
			<a class="options {{dropdownClass}}"><i class="fa fa-cog"></i></a>
			{{#ui-dropdown selectorClass=dropdownClass}}
				<a {{action "toggleEditing"}}><i class="fa fa-edit"></i> Edit</a>
				<a {{action "deleteEntry"}}><i class="fa fa-trash"></i> Delete</a>
			{{/ui-dropdown}}
		{{!-- </div> --}}
	{{/if}}
	</div>
	{{!-- <div {{action 'pick'}} class="small orange bordered button">Pick entry</div> --}}
</div>
{{yield}}
