<div {{action 'toggleCreateProjectModal'}} class="close-modal">
	<svg viewBox="0 0 100 100" width="22" height="22" xmlns="http://www.w3.org/2000/svg">
	 <g>
	  <line id="svg_1" y2="90" x2="90" y1="10" x1="10" stroke-width="20" fill="none"/>
	  <line id="svg_2" y2="90" x2="10" y1="10" x1="90" stroke-width="20" fill="none"/>
	 </g>
	</svg>
</div>
<div class="head">
	<h2 class="heading">Create new project</h2>
</div>
<form {{action "createProject" on="submit"}} class="{{if isLoading 'au-loading'}}">
		<div class="body">
			{{#if serverAlert.message}}

			<div class="danger input-alert">
				{{serverAlert.message}}
			</div>

			{{/if}}
			{{input-with-counter maxlength=40 value=newProject.name placeholder="Your project title"}}
			{{#if projectNameAlert.message}}
				<div class="{{projectNameAlert.type}} bottom input-alert">
					{{projectNameAlert.message}}
				</div>
			{{/if}}
			<div class="row">
				<div class="col-sm-4">
					<div class="photo-upload" {{action 'showFilePicker'}}>
						{{#if filePreviewUrl}}
							<img src="{{filePreviewUrl}}" />
						{{else}}
							Click here to upload image
						{{/if}}
						{{#if showFilePicker}}
							{{ember-filepicker pickerOptions=pickerOptions onSelection='fileSelected' onClose='hideFilePicker' onError='onError'}}
						{{/if}}
					</div>
				</div>
				<div class="col-sm-8">
				{{#if descriptionAlert.message}}
					<div class="{{descriptionAlert.type}} top input-alert">
						{{descriptionAlert.message}}
					</div>
				{{/if}}
					{{textarea-with-counter maxlength=140 value=newProject.description placeholder="Description"}}
				</div>
			</div>
			{{tag-manager tags=tags}}
			<div class="row">
				<div class="col-sm-7">
					<label>Select poetic form</label>
				</div>
				<div class="col-sm-5">
				{{log languageForms}}
					{{select-2 searchEnabled=false optionValuePath="id" value=newProject.languageForm content=languageForms}}

				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 entry-length">
					<label>Set entry length</label>
				</div>
				<div class="col-sm-3">
					{{input type="number" min="1" value=newProject.inputLength}}
				</div>
				<div class="col-sm-5">
					{{select-2 searchEnabled=false optionValuePath="id" value=newProject.inputType content=inputTypes}}
				</div>
			</div>
		</div>
		<div class="footer">
				<input type="submit" class="big rounded orange bordered button" value="Create project">
		</div>
</form>
{{yield}}
